.btnExit {
  cursor: pointer;
  background-color: transparent;
  font-size: var(--font-s);
  margin: var(--space-2);
  border: transparent var(--btn-border-solid-1);
  transition: 0.1s ease;
  text-shadow: 0.5px 1px 4px #474747;
  display: inline-flex;
  color: var(--bg-color);
}
.icon-salir-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-salir {
  width: 40px;
  margin: 0 auto;
}
.btnExit:hover {
  text-shadow: none;
}