.btnSave {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-complementary-2);
  color: var(--text-color-2);
  font-family: var(--font-text);
  font-size: var(--font-m);
  padding: 6px 18px;
  margin: var(--space-2);
  border: #167a00 var(--btn-border-solid-1);
  border-radius: var(--btn-radius-1);
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px #282828;
  position: relative;
}
.icon-save {
  width: 30px;
  margin-right: 4%;
}
.btnSave:after {
  content: "";
  position: absolute;
  transition: all 0.4s ease-in-out;
  background-color: #333;
  border-radius: 50%;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}
.btnSave:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
  text-shadow: none;
}